<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="clerk_layout_load_before" instance="Clerk\Clerk\Observer\LayoutLoadBeforeObserver"/>
    </event>
    <event name="checkout_cart_add_product_complete">
        <observer name="clerk_checkout_cart_add_product_complete" instance="Clerk\Clerk\Observer\CheckoutCartAddProductCompleteObserver"/>
    </event>
    <event name="controller_action_layout_render_before_catalogsearch_result_index">
        <observer name="clerk_controller_action_layout_render_before" instance="Clerk\Clerk\Observer\ControllerActionLayoutRenderBeforeObserver"/>
    </event>
</config>