<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_add_product_complete">
        <observer name="clerk_checkout_cart_add_product_complete" instance="Clerk\Clerk\Observer\CheckoutCartAddProductCompleteObserver"/>
    </event>
    <event name="checkout_cart_save_after">
        <observer name="clerk_checkout_cart_update_items_after" instance="Clerk\Clerk\Observer\CheckoutCartUpdateItemsAfterObserver"/>
    </event>
    <event name="catalog_product_delete_after_done">
        <observer name="clerk_catalog_product_delete_after_done" instance="Clerk\Clerk\Observer\ProductDeleteAfterDoneObserver"/>
    </event>
    <event name="catalog_product_save_after">
        <observer name="clerk_catalog_product_save_after" instance="Clerk\Clerk\Observer\ProductSaveAfterObserver"/>
    </event>
</config>